pdf2image
pyyaml

# External Requirements
# Poppler (Refer to link for more details: https://pdf2image.readthedocs.io/en/latest/installation.html)


# For prototyping ghostscript implementation
# python3-ghostscript
# External Requirements
# https://www.ghostscript.com/

pillow